:root {
  --text-color: #fff;
  --background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Playwrite NG Modern", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav .pagesSection ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  padding: 10px;
}
nav .pagesSection ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  color: var(--text-color);
}
main .heroSection {
  background-color: #121212;
  color: var(--text-color);
  padding: 80px 20px;
}
 
main .heroSection h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
main .heroSection h1 b {
  color: #f4d406;
}
main .heroSection p {
  font-size: 16px;
}
.gallerySection .galleryTitle h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.gallerySection .galleryImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0px 20px;
}
.gallerySection .galleryImages img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 4px solid black;
  border-top-right-radius: 10px;
  display: block;
}
footer {
  margin-top: 40px;
  background-color: var(--background-color);
  padding: 30px;
}
footer h2 {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}
